.liste {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: #E3F2FD;
    
}
:root {
    --grid-template-columns:1fr;
    --grid-template-rows:1fr;
    --x:0px;
    --y:0px  
  }
  .grid {
      display: grid;
      grid-template-columns:10% 90% ;
      grid-template-rows: 15% 85%;
      width: 900px;
      height: 100%;
      margin: 50px 200px 100px 200px;
      
  }
  .vide {
      background-color: #E3F2FD;
      border-bottom: 1px solid;
  }
  .headerparent{
      background-color:#E3F2FD;
      overflow-x: scroll;
      
  }
  .header {
      background-color: blue;
      display: grid;
      width: 1100px;/*2560*/
      height: 100%;
      line-height: 1rem!important;
     /* grid-template-columns: repeat(12,1fr);*/
     grid-template-columns: var(--grid-template-columns);
     
  
  }
  .bodyDaysParent {
    position: absolute;
    display: grid; 
    grid-template-columns: var(--grid-template-columns);
    width: 100%;
    height:100%;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 2;
  }
  .ressources {
      background-color: #E3F2FD;
  }
  .bodyy {
      display: grid;
      position: relative;
      background-color: #F5F5F5;
      overflow-x: scroll;
      overflow-y: scroll;
      
      grid-template-columns: 1fr;
    grid-template-rows: var(--grid-template-rows);
  }
  .days {
    border-bottom:1px solid ;
    border-right:0px;
    border-left:1px solid;
    border-top:1px solid;

      
  }
  .dayBody {
    border: 1px solid;
    border-left: 0px;
    border-top: 0px;
    height: 100%;
    width: 100%;
    
}
.bodyRowsparent{
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--grid-template-rows);
    z-index: 1;
    width: 1100px;/*2548*/
    height: 100%;
}
.roww {
    position: relative;
    border: 0px ;
    border-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1100px;/*2560*/
    height: 53px;
}
.ressourcesList{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--grid-template-rows);
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}
.ressource{
    border: 1px solid;
    border-top: 0px;
    width: 100%;
    height: 53px;
}
